// responsive Cel  small
@media only screen and (min-width: 411px) and (max-width: 575px) {
    .bannerPrincipal{
      background-image: url('../../static/Manager/ImgStatics/bannerPrincipalCel.jpg');
      background-size: contain;
      position: fixed;
      height:100%;
      width:100%;
    }
    .fondoFooter{
      background-color: #0c2c3f;   
      width: 100%;
      height: 100%;
    }
    .fotoManager{
      border-radius: 50%;
      display: block;
      margin: auto;
      top: 13.8rem;
      position: relative;
      z-index: 100; 
      border: 8px solid white;  
    }
    .posicion-contenedores{
      position:relative; 
      top: 13em;
    }
    .text-name{
      font-family: 'Quicksand', sans-serif;
        position: relative;
        color: #003B4C;
        font-size: 35px;
    }
    .text-cargo{
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #003B4C;
      position: relative;
      top: -6px;
    }
    .linea-div{
        position:relative;
        top: 5px;
        height:.1vh;
        width:90%;
        background: #003B4C;
    }
    .font-service{
      font-family: 'Quicksand', sans-serif;
      color:#10303B; 
      font-size: 40px; 
      font-weight: bold;
    }
    .font-normal{
      color: white; 
      font-size: 40px; 
      font-weight: bold;
    }
    .text-footer{
      font-family: 'Quicksand', sans-serif;
      color:white; 
      font-size: 12px; 
      font-weight: bold;
    }
    .textos{
      position: relative;
      font-family: 'Quicksand', sans-serif;
      top: 5px;
      color:#10303B; 
      font-size: 12px; 
      font-weight: bold;
    }
    
  }