// responsive Cel  small
@media only screen and (min-width: 411px) and (max-width: 575px) {
    .flotante{
      background-color: white;
      width: 70px;
      border-radius: 15px 0 0 15px;
      position: fixed;
      z-index: 100; 
      top: 4em;
      left: 89%;
    }
    .bannerPrincipal{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/bannerPrincipalCel.png');
      background-size: contain;
      position: fixed;
      height:100%;
      width:100%;
    }
    .fondoFooter{
      background-color: #0c2c3f;   
      width: 100%;
      height: 100%;
    }
    .foto{
      border-radius: 50%;
      display: block;
      margin: auto;
      top: 13.8em;
      position: relative;
      z-index: 100; 
      border: 8px solid white;  
    }
    .posicion-contenedores{
      position:relative; 
      top: 13em;
    }
    .text-name{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        color: #003B4C;
        font-size: 35px;
    }
    .text-cargo{
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #003B4C;
      position: relative;
      top: -6px;
    }
    .linea-div{
        position:relative;
        top: 5px;
        height:.1vh;
        width:90%;
        background: #003B4C;
    }
    .Whatsapp{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/WHATS.webp');
      background-repeat:no-repeat;
      display: block;
      margin: auto;
      height:60%;
      width:60%;
    }
    .Telefono{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/TELEFONO.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .Guardar{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/GUARDAR.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .Email{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/EMAIL.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .PagWeb{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/WEB.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .Compartir{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/COMPARTIR.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .font-service{
      font-family: 'Quicksand', sans-serif;
      color:#10303B; 
      font-size: 40px; 
      font-weight: bold;
    }
    .Facebook{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/FAC.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .Instagram{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/INST.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .PaginaWeb{
      background-image: url('../../static/Manager/Ruben_Director_Comercial/Images/WB.webp');
      background-repeat:no-repeat;
      height:60%;
      width:60%;
    }
    .font-normal{
      color: white; 
      font-size: 40px; 
      font-weight: bold;
    }
    .text-footer{
      font-family: 'Quicksand', sans-serif;
      color:white; 
      font-size: 12px; 
      font-weight: bold;
    }
    .textos{
      position: relative;
      font-family: 'Quicksand', sans-serif;
      top: 5px;
      color:#10303B; 
      font-size: 12px; 
      font-weight: bold;
    }
    
  }