
.Quicksand{
  font-family: 'Quicksand', sans-serif
}
.bannerPrincipal{
  background-image: url('../../static/Manager/ImgStatics/bannerPrincipalCel.jpg');
  background-size: contain;
  position: fixed;
  height:100%;
  width:100%;
  @media #{$tablet-device}{
    background-image: url('../../static/Manager/ImgStatics/bannerPrincipaltablet.png');
  }
  @media #{$laptop-device,$desktop-device,$extraBig-device}{
    background-image: url('../../static/Manager/ImgStatics/bannerPrincipalDesktop.jpg');
  }
  @media #{$Cel-Large}{
    background-image: url('../../static/Manager/ImgStatics/bannerPrincipalLaptop.jpg');
  }
}
