// responsive Cel large
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .bannerPrincipalAnaPina{
      background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalLaptop.png');
      background-size: contain;
      position: fixed;
      height:100%;
      width:100%;
    }
    .fondoFooterAnaPina{
      background-color: #977124;   
      width: 100%;
      height: 100%;
    }
    .posicion-contenedoresAnaPina{
      position:relative; 
      top: 15em;
    }
    .fotoAnaPina{
      border-radius: 50%;
      display: block;
      width: 40%;
      margin: auto;
      top: 15em;
      position: relative;
      z-index: 100; 
      border: 8px solid white;   
    }
    .text-name-AnaPina{
        font-family: 'engravers-mt-regular', sans-serif;
        position: relative;
        color: #977124;
        font-size: 35px;
    }
    .text-cargo-AnaPina{
        font-family: 'engravers-mt-regular', sans-serif;
        position: relative;
        color: #977124;
        font-size: 25px;
    }
    .linea-div-AnaPina{
        position:relative;
        top: 5px;
        height:.1vh;
        width:90%;
        background: #977124;
    }
    .font-service-AnaPina{
      font-family: 'engravers-mt-regular', sans-serif;
      color:#977124; 
      font-size: 40px; 
      font-weight: bold;
    }
    .font-normalAnaPina{
      color: white; 
      font-size: 40px; 
      font-weight: bold;
    }
    .text-footerAnaPina{
      font-family: 'engravers-mt-regular', sans-serif;
      color:white; 
      font-size: 12px; 
      font-weight: bold;
    }
    .textosAnaPina{
      position: relative;
      font-family: 'engravers-mt-regular', sans-serif;
      top: 5px;
      color:#977124; 
      font-size: 12px; 
      font-weight: bold;
    }
  }