@media only screen and (min-width: 953px) and (max-width: 1199px) {
    .fondoFooterAnaPina{
      background-color: #977124;   
      width: 100%;
      height: 100%;
    }
    .bannerPrincipalAnaPina{
      background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalDesktop.png');
      background-size: contain;
      position: fixed;
      height:100%;
      width:100%;
    }
    .fotoAnaPina{
      position: relative;
      top: 13em;
      border-radius: 50%;
      display:block;
      margin:auto;
      position: relative;
      border: 15px solid white; 
    }
    .posicion-contenedoresAnaPina{
      position:relative;
       top: 15em;
    }
    .text-name-AnaPina{
        font-family: 'engravers-mt-regular', sans-serif;
        position: relative;
        color: #977124;
        font-size: 35px;
    }
    .text-cargo-AnaPina{
        font-family: 'engravers-mt-regular', sans-serif;
        position: relative;
        color: #977124;
        font-size: 25px;
    }
    .linea-div-AnaPina{
        position:relative;
        height:.1vh;
        width:90%;
        background: #977124;
    }
    .font-service-AnaPina{
      font-family: 'engravers-mt-regular', sans-serif;
      color:#977124; 
      font-size: 40px; 
      font-weight: bold;
    }
    .font-normalAnaPina{
      color: white; 
      font-size: 40px; 
      font-weight: bold;
    }
    .text-footerAnaPina{
      font-family: 'engravers-mt-regular', sans-serif;
      color:white; 
      font-size: 12px; 
      font-weight: bold;
    }
    .textosAnaPina{
      position: relative;
      font-family: 'engravers-mt-regular', sans-serif;
      top: 5px;
      color:#977124; 
      font-size: 12px; 
      font-weight: bold;
    }
  }