@font-face {
  font-family: "engravers-mt-regular"; 
  src: url("https://www.dafontfree.net/embed/ZW5ncmF2ZXJzLW10LXJlZ3VsYXImZGF0YS8xMy9lLzY0NzY2L0VOR1IuVFRG"); 
 }

.bannerPrincipalAnaPina{
  background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalCel.png');
  background-size: contain;
  position: fixed;
  height:100%;
  width:100%;
  @media #{$tablet-device}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipaltablet.png');
  }
  @media #{$laptop-device,$desktop-device}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalDesktop.png');
  }
  @media #{$extraBig-device,$Cel-Large}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalLaptop.png');
  }
}
