@font-face {
  font-family: "engravers-mt-regular"; 
  src: url("https://www.dafontfree.net/embed/ZW5ncmF2ZXJzLW10LXJlZ3VsYXImZGF0YS8xMy9lLzY0NzY2L0VOR1IuVFRG"); 
 }

.bannerPrincipalAnaPina{
  background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalCel.png');
  background-size: contain;
  position: fixed;
  height:100%;
  width:100%;
  @media #{$tablet-device}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipaltablet.png');
  }
  @media #{$laptop-device,$desktop-device}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalDesktop.png');
  }
  @media #{$extraBig-device,$Cel-Large}{
    background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalLaptop.png');
  }
  // @media #{$Cel-Large}{
  //   background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalLaptop.png');
  // }

}
.flotanteAnaPina{
  background-color: white;
  max-width: 70px;
  border-radius: 15px 0 0 15px;
  position: fixed;
  z-index: 10; 
  right: 0; 
  top: 5%;
}

.fotoAnaPina{
  border-radius: 50%;
  display: block;
  margin: auto;
  top: 11.5em;
  position: relative;
  z-index: 100; 
  border: 5px solid white;  
  @media #{$tablet-device}{
    top: 8em;
    margin-top: 25.8%;
  } 
  @media #{$laptop-device}{
    top: 15em;
    width: 30%;
  }
  @media #{$extraBig-device}{
    top: 30em;
    width: 30%;
    border: 15px solid white; 
  }
  @media #{$desktop-device,$Cel-Large}{
    top: 11em;
    width: 40%;
  }
  @media #{$Cel-Small}{
    top: 13.8rem;
  }
}
.posicion-contenedoresAnaPina{
  position: relative; 
  top: 11em;
  @media #{$tablet-device}{
    top: 8em;
  }
  @media #{$laptop-device, $desktop-device}{
    top: 15em;
  } 
  @media #{$extraBig-device}{
    top: 30em; 
  }
  @media #{$Cel-Small,$Cel-Large}{
    top: 13rem;
  }
}
.fondoFooterAnaPina{
  background-color: #977124;  
  width: 100%;
  height: 100%;
}
.font-service-AnaPina{
  font-family: 'engravers-mt-regular', sans-serif;;
  color:#977124; 
  font-size: 40px; 
  font-weight: bold;
}
.text-footer-AnaPina{
  font-family: 'engravers-mt-regular', sans-serif;;
  color:white; 
  font-size: 12px; 
  font-weight: bold;
}
.textosAnaPina{
  position: relative;
  font-family: 'engravers-mt-regular', sans-serif;;
  top: 5px;
  color:#977124; 
  font-size: 12px; 
  font-weight: bold;
  @media #{$tablet-device,$laptop-device,$extraBig-device}{
    font-size: 20px; 
  } 

}
.InstagramAnaPina{
  background-image: url('../../static/LogosRedesSociales/INST.png');
  border-radius: 50%;
  background-repeat:no-repeat;
  background-size: 50% 50%;
  background-color:  #6A3432;
  background-position:center;
  display: block;
  height: 35px;
  width: 35px;
}
.PaginaWebAnaPina{
  background-image: url('../../static/LogosRedesSociales/WEB.png');
  background-repeat:no-repeat;
  border-radius: 50%;
  background-size: 50% 50%;
  background-color:  #6A3432;
  background-position:center;
  display: block;
  height: 35px;
  width: 35px;
}

.WhatsappAnaPina{
  background-image: url('../../static/LogosRedesSociales/WHATS.png');
  background-repeat:no-repeat;
  background-color: #977124;
  background-size: 50% 50%;
  border-radius: 50%;
  background-position: 0.84em 0.75em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.TelefonoAnaPina{
  background-image: url('../../static/LogosRedesSociales/TELEFONO.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.GuardarAnaPina{
  background-image: url('../../static/LogosRedesSociales/GUARDAR.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-size: 50% 50%;
  background-position: 50% 40%;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.EmailAnaPina{
  background-image: url('../../static/LogosRedesSociales/EMAIL.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.PagWebAnaPina{
  background-image: url('../../static/LogosRedesSociales/WB.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.CompartirAnaPina{
  background-image: url('../../static/LogosRedesSociales/COMPARTIR.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-size: 50% 50%;
  background-position: 50% 50%;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}