@font-face {
  font-family: "engravers-mt-regular"; 
  src: url("https://www.dafontfree.net/embed/ZW5ncmF2ZXJzLW10LXJlZ3VsYXImZGF0YS8xMy9lLzY0NzY2L0VOR1IuVFRG"); 
 }

.bannerPrincipalAnaPina{
  background-image: url('../../static/AnaPinaShop/Banners/bannerPrincipalCel.png');
  background-size: contain;
  position: fixed;
  height:100%;
  width:100%;
}
.flotanteAnaPina{
  background-color: white;
  max-width: 70px;
  border-radius: 0 15px 15px 0;
  position: fixed;
  z-index: 10; 
  left: 0; 
  top: 5%;
}
.fondoAnaPina{ 
  width:100%;
  height: 600px;
}
.fotoAnaPina{
  border-radius: 50%;
  display: block;
  margin: auto;
  top: 11.5em;
  position: relative;
  z-index: 100; 
  border: 5px solid white;   
}
.fondoFooterAnaPina{
  background-color: #977124;  
  width: 100%;
  height: 100%;
}
.posicion-contenedoresAnaPina{
  position: relative; 
  top: 11em;
}
.text-name-AnaPina{
    font-family: 'engravers-mt-regular', sans-serif;;
    position: relative;
    color: #977124;
    font-size: 35px;
}
.text-cargo-AnaPina{
    font-family: 'engravers-mt-regular', sans-serif;;
    font-weight: 300;
    font-size: 18px;
    color: #977124;
    position: relative;
    top: -6px;
}
.linea-div-AnaPina{
    position:relative;
    top: 1em;
    height:.1vh;
    width:90%;
    background: #977124;
}
.WhatsappAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/WHATS.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.84em 0.75em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.TelefonoAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/TELEFONO.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.GuardarAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/GUARDAR.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.EmailAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/EMAIL.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.PagWebAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/WB.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.CompartirAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/COMPARTIR.png');
  background-repeat:no-repeat;
  background-color: #977124;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.font-service-AnaPina{
  font-family: 'engravers-mt-regular', sans-serif;;
  color:#977124; 
  font-size: 40px; 
  font-weight: bold;
}

.InstagramAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/INST.png');
  border-radius: 50%;
  background-repeat:no-repeat;
  background-color:  #6A3432;
  background-position:center;
  display: block;
  height: 35px;
  width: 35px;
}
.PaginaWebAnaPina{
  background-image: url('../../static/AnaPinaShop/Redes/WEB.png');
  background-repeat:no-repeat;
  border-radius: 50%;
  background-color:  #6A3432;
  background-position:center;
  display: block;
  height: 35px;
  width: 35px;
}

.font-normalAnaPina{
  color: white; 
  font-size: 40px; 
  font-weight: bold;
}
.text-footer-AnaPina{
  font-family: 'engravers-mt-regular', sans-serif;;
  color:white; 
  font-size: 12px; 
  font-weight: bold;
}
.textos{
  position: relative;
  font-family: 'engravers-mt-regular', sans-serif;;
  top: 5px;
  color:#977124; 
  font-size: 12px; 
  font-weight: bold;
}