@media only screen and (min-width: 1600px) {
    .fondoFooter{
      background: linear-gradient(to right, #BE1622, #8F1622);  
      width: 100%;
      height: 100%;
    }
    .foto{
      position: relative;
      top: -20em;
      border-radius: 50%;
      display:block;
      margin:auto;
      position: relative;
      border: 20px solid white; 
    }
    .Fondologo{
        width:100px;
        height:100px;
        position: relative;
        top: -24em;
        border-radius: 50%;
        display:block;
        margin:auto;
        background: white; 
    }
    .fotoLogo{
        position: relative;
        width:80px;
        height:80px;
        top: 8px;
        left: 2px;
        display:block;
  
    }
    .posicion-contenedores{
      position:relative; 
      top: -23em;
    }
    .text-name{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        color: #003B4C;
        font-size: 35px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .text-cargo{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        color: #003B4C;
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .linea-div{
        position:relative;
        height:.1vh;
        width:90%;
        background: #003B4C;
    }
    .Whatsapp{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/WHATS.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .Telefono{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/TELEFONO.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .Guardar{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/GUARDAR.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .Email{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/EMAIL.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .PagWeb{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/WEB.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .Compartir{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/COMPARTIR.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .font-italic{
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      color:#10303B; 
      font-size: 40px; 
      font-weight: bold;
    }
    .Facebook{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/FAC.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .Instagram{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/INST.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .PaginaWeb{
      background-image: url('../static/Manager/Ruben_Director_Comercial/Images/WB.webp');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
    }
    .BtnContac{
      background: linear-gradient(to right, #BE1622, #8F1622); 
    }
    .font-normal{
      color: white; 
      font-size: 40px; 
      font-weight: bold;
    }
    .text-footer{
      font-family: 'Montserrat', sans-serif;
      color:white; 
      font-size: 12px; 
      font-weight: bold;
    }
    .textos{
      position: relative;
      font-family: 'Montserrat', sans-serif;
      top: 5px;
      color:#10303B; 
      font-size: 15px; 
      font-weight: bold;
    }
  }