
.btn-hover{
    border-radius: 10px;
    background-color: #fff;
    color: #00273D;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    @media #{$tablet-device, $large-mobile}{
        font-size: 20px;
    }
}
.btn-hover:hover{
    background-color: #00273D;
    color: white;
}

.list{
    color: #00273D; 
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    line-height: 1px;
    position: relative;
    left: 5em;
    @media #{$small-mobile}{
        left: 0px;
        top: 1em;
    }
}
.listPlan{
    color: #00273D; 
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    line-height: 1px;
}
.text-dark-f-2em{
    
    color: #00273D; 
    font-size: 2em;
    position: relative;
    bottom: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    @media #{$tablet-device, $large-mobile}{
        width: 70%;
    }
    @media #{$small-mobile}{
        width: 100%;
    }
}
.btn-hover-advantage{
    border-radius: 10px;
    background-color: #00273D;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
.btn-hover-advantage:hover{
    background-color: #fff;
    color: #00273D;
}
.text-blue-f-4em{
    color: #00273D; 
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    line-height: 1px;
    @media #{$extra-small-mobile}{
        font-size: 2.5em;
    }
    @media #{$small-mobile}{
        font-size: 25px;
        line-height: 0.5px;
    }
}
.text-blue-f-1em{
    color: #00273D; 
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.text-blue-f-2em{
    color: #00273D; 
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    @media #{$small-mobile}{
        font-size: 25px;
        .text-blue-f-2em-evolution{
            font-size: 20px;
        }
    }
}
.text-blue-f-2em-evolution{
    color: #00273D; 
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    @media #{$small-mobile}{
        font-size: 25px;
        line-height: 1;
    }
}
.text-border{
    -webkit-text-stroke: 1.5px #00273D;
    color: transparent; 
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    @media #{$tablet-device, $large-mobile}{
        font-size: 3em;
    }
    @media #{$small-mobile}{
        font-size: 37px;
        line-height: 1.5;

    }
}
.text-border-ventajas{
    -webkit-text-stroke: 1.5px #00273D;
    color: transparent; 
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    @media #{$tablet-device, $large-mobile}{
        font-size: 3em;
    }
    @media #{$small-mobile}{
        -webkit-text-stroke: 1.5px #00273D;
        font-size: 30px;
    }
}
.text-mitarjeta{
    color: #00273D; 
    font-size: 2.95em;
    position: relative;
    line-height: 1.5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    @media #{$tablet-device, $large-mobile}{
        font-size: 2.3em;
    }
    @media #{$small-mobile}{
        font-size: 25px;
    }
}
.text-sobre-puesto{
    color: #00273D; 
    font-size: 2.95em;
    position: relative;
    line-height: 1.5px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    @media #{$tablet-device, $large-mobile}{
        font-size: 2.3em;
    }
    @media #{$small-mobile}{
        font-size: 29px;
    }
}
.text-border-white{
    -webkit-text-stroke: 1px #fff;
    color: transparent; 
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    @media #{$tablet-device, $large-mobile}{
        font-size: 3em;
    }
    @media #{$small-mobile}{
        font-size:40px;
    }
}
.text-sobre-puesto-white{
    color: #fff; 
    font-size: 2.95em;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    @media #{$tablet-device, $large-mobile}{
        font-size: 2.3em;
    }
    @media #{$small-mobile}{
        font-size: 2.2em;

    }
}
.text-white-f-40{
    color: #fff; 
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    @media #{$tablet-device, $large-mobile}{
        font-size: 20px;
    }

}
.tamcard{
    max-width: 270px;
    height:655px;
    @media #{$tablet-device, $large-mobile}{
        width: 200px;
        height:630px;
    }
    @media #{$small-mobile}{
        width: 80%;
        height:650px;
    }
}
.scale{
    scale: calc(110%);
    @media #{$tablet-device, $large-mobile}{
        z-index: 9;
        scale: calc(110%);
    }
    @media #{$small-mobile}{
        scale: 1;
    }
}
.text-white-fw-50{
    color: #fff; 
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900
}
.imgventajas{
    position: relative;
    left: 9vw;
    bottom: 1em;
    z-index: 9;
    width: 55vw;
    float: right;
    @media #{$tablet-device, $large-mobile}{
        position: relative;
        z-index: 9;
        width: 55vw;
        float: left;
    }
    @media #{$small-mobile}{
        position: relative;
        z-index: 9;
        width: 90%;
        float: left;
    }
}
.btnVentajas{
    position: relative;
    z-index: 10;
    bottom: 1em;
    height: 2em;
    width: 12em;
    left: 1.5em;
    font-size: 30px;
    float: top;
    font-family: 'Quicksand', sans-serif;
    @media #{$tablet-device, $large-mobile,$small-mobile,$desktop-device}{
        font-size: 25px;
        height: 1.5em;
        width: 10em;
        left: 0em;
        z-index: 100vh;
        float: bottom; 
    }
}
.btncalltoaction{
    position: relative;
    z-index: 10;
    bottom: 1em;
    height: 2em;
    width: 12em;
    font-size: 30px;
    float: top;
    font-family: 'Quicksand', sans-serif;
    @media #{$tablet-device, $large-mobile,$small-mobile,$desktop-device}{
        font-size: 25px;
        height: 1.5em;
        width: 10em;
      
        z-index: 100vh;
        float: bottom; 
    }
}
.btnContac{
    position: relative;
    z-index: 10;
    bottom: 1em;
    height: 2em;
    width: 12em;
    left: 4em;
    font-size: 30px;
    float: bottom;
    @media #{$small-mobile,$extra-small-mobile}{
        z-index: 10;
        top: 0.5em;
        height: 2em;
        width: 12em;
        left: 0;
        font-size: 25px;
        float: bottom;
    }

}
.imgPresent{
    width: 30vw;
    // float: left;
    @media #{$tablet-device, $large-mobile,$small-mobile}{
        width: 35em;
        // float: center;
    }
    @media #{$small-mobile,$extra-small-mobile}{
        width: 20em;
        // float: center;
    }
    @media #{$extra-small-mobile}{
        width: 15em;
        // float: center;
    }
}
// .fondoFooter{
//     background-color: #00273D;
//     color: #fff;
// }
.text-footer{
    font-family: 'Quicksand', sans-serif;
    color:white; 
    font-size: 12px; 
    font-weight: bold;
}

