// responsive laptop-device
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
 // Fondo
 .FondoOlivos{
  background-image: url('../../static/LosOlivosSantaMarta/Contenido/FondoOlivosSantamarta/fondoTarjeta.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
// Welcome
.fotoOlivos{
  position: relative;
  left: 15em;
  z-index: 100;  
  width: auto;
}
.text-nameOlivos{
  font-family: 'Raleway', sans-serif; 
  font-weight: 900;
  top: 2em;
  position: relative;
  color: #003B4C;
  font-size: 32px;
  line-height : 30px;
}
.text-cargoOlivos{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  top: 3em;
  font-size: 20px;
  color: #003B4C;
}
// Services
.font-serviceOlivos{
  font-family: 'Raleway', sans-serif;
  color:#10303B; 
}
.slick-prev:before {
  content: url('../../static/LosOlivosSantaMarta/Contenido/IconosSantamarta/arrow-prev.svg');
}
.slick-next:before {
  content: url('../../static/LosOlivosSantaMarta/Contenido/IconosSantamarta/arrow-next.svg');
}
// redes flotante
.fondoFooterOlivos{
  background: linear-gradient(to right, #8FDDAA 0%, #59AB9B 100%);   
  width: 100%;
  height: 100%;
}
// Footer
.text-footerOlivos{
  font-family: 'Raleway', sans-serif;
  color:white; 
  font-size: 12px; 
  font-weight: bold;
}
.textosOlivos{
  position: relative;
  font-family: 'Raleway', sans-serif;
  top: 5px;
  color:#10303B; 
  font-size: 12px; 
  font-weight: bold;
} 
}