@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Fondo
.FondoOlivos{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/fondoTarjeta.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// Welcome
.fotoOlivos{
  position: relative;
  left: -2em;
  z-index: 100;  
}
.text-name{
  font-family: 'Raleway', sans-serif; 
  font-weight: 900;
  position: relative;
  color: #003B4C;
  font-size: 25px;
  left:0.7em;
  line-height : 25px;
}
.text-cargo{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  position: relative;
  left: 0.7em;
  font-size: 20px;
  color: #003B4C;
}
.Whatsapp{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/WHATS.png');
  background-repeat:no-repeat;
  background-color: #EFBD56;
  border-radius: 50%;
  background-position: center;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.Telefono{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/TELEFONO.png');
  background-repeat:no-repeat;
  background-color: #EEAA49;
  border-radius: 50%;
  background-position: center;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.Guardar{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/GUARDAR.png');
  background-repeat:no-repeat;
  background-color: #EE943A;
  border-radius: 50%;
  background-position: center;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.Email{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/EMAIL.png');
  background-repeat:no-repeat;
  background-color: #EFBD56;
  border-radius: 50%;
  background-position: center;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.PagWeb{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/WB.png');
  background-repeat:no-repeat;
  background-color: #EEAA49;
  border-radius: 50%;
  background-position: center;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
.Compartir{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/COMPARTIR.png');
  background-repeat:no-repeat;
  background-color: #EE943A;
  border-radius: 50%;
  background-position: 0.654em 0.7em;
  position: relative;
  display: block;
  margin: auto;
  height: 55px;
  width: 55px;
}
// Services
.font-service{
  font-family: 'Raleway', sans-serif;
  color:#10303B; 
}
.slick-prev:before {
  // content: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/arrow-prev.svg');
  color: #10303B;
}
.slick-next:before {
  // content: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/arrow-next.svg');
  color: #10303B;
}
// redes flotante
.flotante{
  background: linear-gradient(to right, #efc45b 0%, #ee943a 100%);   
  width: 70px;
  border-radius: 15px 0 0 15px;
  position: fixed;
  z-index: 100; 
  top: 4em;
  left: 88%;
}
.fondoFooter{
  background: linear-gradient(to right, #8FDDAA 0%, #59AB9B 100%);   
  width: 100%;
  height: 100%;
}
.Facebook{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/FAC.png');
  border-radius: 50%;
  background-color: #fff;
  background-position:center;
  display: block;
  height: 35px;
  width: 35px;
}
.Instagram{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/INST.png');
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
}
.PaginaWeb{
  background-image: url('../../static/LosOlivosSantaMarta/Diego_Morales_Gerente/Images/WEB.png');
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  height: 35px;
  width: 35px;
}
// Footer
.text-footer{
  font-family: 'Raleway', sans-serif;
  color:white; 
  font-size: 12px; 
  font-weight: bold;
}
.textos{
  position: relative;
  font-family: 'Raleway', sans-serif;
  top: 5px;
  color:#10303B; 
  font-size: 12px; 
  font-weight: bold;
}  